doctype html
html(lang="en", class="no-js")
  head
    title XL 4G Readiness
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet', href='css/style.min.css')

  body
    .wrapper.wrapper-low
      .scene-low#panorama-low
    .wrapper.wrapper-high
      .scene-high#panorama-high
    .container
      .headline
        img.logo1(src='img/logo.png')
        img.logo2(src='img/logo-hotrod.png')
      h1.title Nikmati 360&deg; HD Video Super Cepat
      h3.caption Let's start exploring the 4G World!
      .helpnote
        h4.help move your phone to navigate
        img.arrow(src='img/arrow.png')
      .legendnote
        p.legend Without Hotrod 4G LTE
    
    script(type="text/javascript", src="js/vendor/xm.js")
    //- script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript').
      window.jQuery || document.write('<script type="text/javascript" src="js/vendor/jquery.min.js"><\/script>')
    script(type="text/javascript", src="js/release.js")

