doctype html
html(lang="en", class="no-js")
  head
    title XL 4G Readiness
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet', href='css/style.min.css')

  body
    .scene#panorama
    
    script(type="text/javascript", src="js/vendor/xm.js")
    //- script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript').
      window.jQuery || document.write('<script type="text/javascript" src="js/vendor/jquery.min.js"><\/script>')
    script(type="text/javascript", src="js/release.js")

